<h2>Über diese Seite</h2>

<div class="text-left">
  <p>Als ich nach einer kurzen Pause vom Singen wieder nach einem neuen Chor suchte, musste ich feststellen, dass es keine gute Webseite mit einem Überblick aller Berliner Chöre gab. </p>

  <p>So entstand die Idee, die Chöre Berlins zu kartographieren.</p>

  <p>Die Webseite ist in Ruby on Rails und Javascript implementiert, unter Verwendung einer PostgreSQL Datenbank. Die Bereitstellung der Seite erfolgt über Heroku.</p>

  <p>Beim Design der Seite wurde auf Responsiveness geachtet und dafür <a href="http://getbootstrap.com/" target="_blank>">Bootstrap 3</a> und <a href="http://leafletjs.com/" target="_blank">Leaflet.js</a> verwendet.</p>

  <p>Zur Generierung der Karte wurden die <a href="http://download.geofabrik.de/europe/germany/berlin.html" target="_blank">OSM Daten von Berlin</a>, das Programm <a href="https://www.mapbox.com/tilemill/" target="_blank">TileMill</a> und Aaron Lidman's <a href="https://github.com/aaronlidman/Toner-for-Tilemill" target="_blank"><em>Toner for TileMill</em></a> Style verwendet.</p>

  <p>Der Source-Code steht unter MIT Lizenz und wird auf <a href="https://github.com/zfhui/BerlinerChoere">GitHub</a> bereitgestellt.</p>
</div>
