<div id="map"></div>

<% if user_signed_in? %>
  <%= link_to "Neuer Chor hinzufügen", new_choir_path %>
<% end %>

<script type="text/javascript">
  var map = L.map('map').setView([52.520, 13.404], 10);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'zfhui.28480987',
      accessToken: 'pk.eyJ1IjoiemZodWkiLCJhIjoiNWE2ZWMxNzM1NTgxNjNhODA0ZjcxOTljNzUxZWYzY2QifQ.1tLbelkQIIem8djvVjEKXg'
  }).addTo(map);
</script>
