/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "leaflet";
@import "home";

body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f6f7;
  color: #f5f6f7;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  font-weight: 300;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

a,
a:hover,
a:focus {
  color: #E52165;
}

h1, h2, h3, h4, h5, h6 {
  color: #f5f6f7;
}

#logo {
  height: 100px;
  position: absolute;
  left: 20px;
  top: 40px;
  z-index: 40;
  text-align: left;
  background: transparent;
}

#logo img {
  height: 100%;
}

#logo a{
  height: 100%;
  font-weight: bolder;
  font-size: xx-large;
}

#map {
  height: 100vh;
  // height: -webkit-calc(100vh - 70px); /* google, safari */
  // height: -o-calc(100vh - 70px); /* opera */
  // height: -moz-calc(100vh - 70px); /* firefox */
  background-color: #FFF !important;
}

#add-me {
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 50px;
  z-index: 10px;
}

#add-me {
  background-color: #FFF;
  text-transform: uppercase;
  padding: 5px;
}

#add-me-form {
  background-color: #9B9B9B;
}

// ---- forms ----
.form-horizontal .form-group{
  margin-left: 0px;
  margin-right: 0px;
}


//---- marker popup ----
.marker-popup {
  color: #000;
}
