/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "leaflet";

body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f6f7;
  color: #000;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  font-weight: 300;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f6f7;
  color: #000;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  font-weight: 300;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f6f7;
  color: #f5f6f7;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  font-weight: 300;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

a,
a:hover,
a:focus {
  color: #E52165;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em auto 0.5em auto;
}



#logo {
  height: 100px;
  position: absolute;
  left: 20px;
  top: 40px;
  z-index: 40;
  text-align: left;
  background: transparent;
}

#logo img {
  height: 100%;
}

#logo a{
  height: 100%;
  font-weight: bolder;
  font-size: xx-large;
}

#map {
  height: 100vh;
  width: 100vw;
  // height: -webkit-calc(100vh - 70px); /* google, safari */
  // height: -o-calc(100vh - 70px); /* opera */
  // height: -moz-calc(100vh - 70px); /* firefox */
  background-color: #FFF !important;
}

#add-me {
  color: #E52165;
  width: 100%;
  position: absolute;
  bottom: 20px;
  // z-index: 10px;
  background: transparent;
  text-transform: uppercase;
  margin: 0 auto;
}

#add-me a,
#add-me a:hover,
#add-me a:focus{
  text-transform: uppercase;
  text-decoration: none;
}

#add-me-form {
  color: #E52165;
  background-color: #EEE;
}

// ---- forms ----
.form-horizontal {
  margin: 1.5em auto 1.5em auto;
}
.form-horizontal .form-group{
  margin-left: 0px;
  margin-right: 0px;
}

//---- marker popup ----
.marker-popup {
}

//---- button ----
.btn.outline{
  background: transparent;
  padding: 0.3em 0.5em;
  font-size: large;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  padding: 0.3em 0.5em;
}

.btn-default.outline {
  background: transparent;
  border: 2px solid #E52165;
  border-radius: 30px;
  color: #E52165;
}

.btn-default.outline:hover,
.btn-default.outline:focus,
.btn-default.outline:active,
.btn-default.outline.active,
.open > .dropdown-toggle.btn-default.outline {
  background: transparent;
  color: #E52165;
  border-color: #E52165;
}
.btn-default.outline:active,
.btn-default.outline.active {
  background: transparent;
  border-color: #E52165;
  color: #E52165;
  box-shadow: none;
}
